@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: "Stack Sans Text", sans-serif;
    background-color: #000;
    overflow-x: hidden;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: space-between; 
    align-items: center;
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(10px);
    height: 60px;
    padding: 10px 10px;
    border-bottom: 1px solid #ffffff1e;
    padding-bottom: 5px;
    z-index: 10;
}


.navbar {
    display: flex;
    justify-content: center;
    margin-right: 700px;
    gap: 30px;
    padding: 10px 0;
}

.navbar a {
    color: #ffffff;
    font-size: 15px;
    padding: 8px 15px;
    border: 1px solid transparent;
    border-radius: 20px;
    display: inline-block;
    position: relative;
    transition: color 0.3s ease, border 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar a:hover {
    color: #ffffff;
    background-color: rgba(14, 14, 14, 0);
    border: 1px solid #ffffff54;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.438);
}

.navbar a.active {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0);
    border: 0.5px solid #ffffff;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
}

.navbar a.active::after {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 5px;
    background-color: #4c9d92;
    border-radius: 50%;
}